<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>    
    <add name="constr" connectionString="Data Source=DESKTOP-A3EV9HL\SQLEXPRESS;Initial Catalog=web_repairs;Integrated Security=True"/>
    <add name="smtppw" connectionString="teldut1234567890"/>
    <add name="smtpun" connectionString="teldutaenastan@gmail.com"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>